/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

.navbar-light .navbar-brand {
  color: #fff;
  font-weight: bold;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {
  min-height: calc(100vh - 100px);
  background-color: #edecec;
}

/* Set black background color, white text and some padding */
footer {
  background-color: #555;
  color: white;
  padding: 15px;
}

/* Card box styles */
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  margin: 1em 0;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.card-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
.card.info .card-header {
  background-color: #007bff;
  color: #fff;
}
.card-header:first-child {
  border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}
.card-header-text {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.card-body {
  flex: 1 1 auto;
  padding: 1.25rem;
}
.card-title {
  margin-bottom: 0.75rem;
}
.card-text:last-child {
  margin-bottom: 0;
}
.card-list {
  width: 100%;
}
.card-list-item > div {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
/* Card box styles */